<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link href="http://cdn.eleven.name/icon/eleven.ico" type="image/x-icon" rel="shortcut icon" />
    <title>目标列表</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mobile/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mobile/goal_list.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/react.min.js"></script>
    <script src="/static/js/react-dom.js"></script>
    <!--<script src="/static/js/browser.min.js"></script>-->
    <script src="/static/js/plupload.full.min.js"></script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3f4bb6e4dfa9c23f8b0a41472dc633af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
    {% module nav() %}
    <div id="main"></div>
    <div id="_xsrf" class="empty">{% raw xsrf_form_html() %}</div>
    <script type="text/javascript" src="/static/js/goallist.js"></script>
</body>
</html>