<!Doctype html>
<html>
<head lang="en">
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" id="viewport">
    <link href="http://cdn.eleven.name/icon/eleven.ico" type="image/x-icon" rel="shortcut icon" />
    <title>{% block title %}{% end %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mobile/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mobile/login_regist.css">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3f4bb6e4dfa9c23f8b0a41472dc633af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
{% block body %}{% end %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/md5.min.js"></script>
{% block javascript %}{% end %}
</body>
</html>
