<!Doctype html>
<html>
	<head lang="en">
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
		<link rel="apple-touch-icon" href="http://mreleven.oss-cn-hangzhou.aliyuncs.com/icon/app-iPhone.png">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no" />
		<link href="http://cdn.eleven.name/icon/eleven.ico" type="image/x-icon" rel="shortcut icon" />
		<title>签到</title>
		<link rel="stylesheet" type="text/css" href="/static/css/mobile/main.css">
		<link rel="stylesheet" type="text/css" href="/static/css/mobile/marker_list.css">
		<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3f4bb6e4dfa9c23f8b0a41472dc633af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	</head>
	<body>
		{% module nav() %}
		{% module add_marker() %}

		<div class="container">
			<ul class="markerlist-big-wrap">
				{% for marker in result.get("marker_list", []) %}
				<li marker-id="{{ marker.get("id", "0") }}">
					<div class="user_info">
						<img src="{{ marker.get("avatar_url", "http://image.lanrenzhoumo.com/leo/img/20151011163317_07b20ebf75bf2e730f79621d5afd8afd.jpg") }}" alt="user_avatar" />
						<a class="nickname" href="/user/user?user_id={{marker.get("user_id")}}">{{ marker.get("nickname", "")}}</a>
					</div>
					<div class="markerlist-rwrap">
						<div class="mark_content">

							<p class="content">{{ marker.get("marker", "") }}</p>
						</div>
						<div class="ops">
							<span><a class="comment-href">评论(<strong>{{ marker.get("comment_count", 0) }}</strong>)</a></span><span class="create_time">{{ marker.get("create_time", "") }}</span>
						</div>
						<div class="comment-list-wrap">
							{% if result.get("current_user_id", 0) %}
							<div class="comment-input-wrap">
								<div class="comment-input">
									{% raw xsrf_form_html() %}
									<input type="hidden" class="reply-comment-id" />
									<a class="comment-btn" marker-id={{ marker.get("id", 0) }}>评论</a>
									<div class="comment-textarea-wrap"><textarea></textarea></div>

								</div>
							</div>
							{% else %}
							<div class="anonym-notice">
								您还没有登录，<a href="/user/login"><strong>登录</strong></a>后才能评论。
							</div>
							{% end %}
							<ul class="ul-comment-list" marker-id={{ marker.get("id", 0) }}>
							</ul>
						</div>
					</div>
				</li>
				{% end %}
			</ul>
		</div>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/mustache.js"></script>
		<script type="text/javascript">
		$(function(){
			$("#add_marker").submit(function(e) {
				var content = $("#add_marker textarea").val();
				if (!content) {
					e.preventDefault();
					var shark = function(){
						var that = this;
						var dif = '5px';
						var duration = 50;
						that.animate({left:dif},duration,function(){
							that.animate({left:'-'+dif},duration,function(){
								that.animate({left:'0px'},duration);
							});
						});
					}
					shark.apply($("#add_marker textarea"));
					return;
				};
			});
			$(document).on("click", ".ops .comment-href", function () {
				var $comment_list_wrap = $(this).parents(".markerlist-rwrap").find(".comment-list-wrap");
				if ($comment_list_wrap.css("display") == "none") {
					$comment_list_wrap.css("display", "block");
					var $comment_list = $comment_list_wrap.find(".ul-comment-list");
					if (!$comment_list.html().trim()) {
						load_comment_list($comment_list)
					};
				}
				else {
					$comment_list_wrap.css("display", "none");
				}
			});
			$(document).on("click", ".comment-input .comment-btn", function() {
				var $comment_btn = $(this);
				var marker_id = $(this).attr("marker-id");
				var $textarea_content = $(this).parent(".comment-input").find("textarea");
				var reply_comment_id = $(this).parent(".comment-input").find(".reply-comment-id").val();
				var content = $textarea_content.val();
				var _xsrf = $(this).parent(".comment-input").find("input[name=_xsrf]").val();
				if (!marker_id || !content) {
					return false;
				};
				var params = {"marker_id": marker_id, "content": content, "_xsrf": _xsrf, "reply": reply_comment_id};
				$.post("/a/comment/add", params, function(data) {
					if (data) {
						alert(data);
						return false;
					}
					$textarea_content.val("");
					var comment_count = $comment_btn.parents(".markerlist-rwrap").find(".ops .comment-href strong");
					comment_count.html(parseInt(comment_count.html()) + 1);
					var $comment_list = $comment_btn.parents(".markerlist-rwrap").find(".ul-comment-list");
					load_comment_list($comment_list);
				});
			});
			function load_comment_list(comment_list_container) {
				var marker_id = comment_list_container.attr("marker-id");
				var url = "/a/comment/list?marker_id=" + marker_id;
				$.get(url, function(data) {
					var html = Mustache.render($("#comment-list-template").html(), data["result"]);
					comment_list_container.html(html);
				});
			};
			function load_marker_list(last_id) {
				$.get("/a/marker/list?last_id=" + last_id, function(data) {
					if (data["result"].length == 0) {
						isloadall = true;
					}
					var html = Mustache.render($("#marker-list-template").html(), data["result"]);
					$(".markerlist-big-wrap").append(html);
				});
			};
			var isloadall = false;
			var range = 200; // 距离底部还有range的时候就开始加载
			$(window).scroll(function () {
				var srollPos = $(window).scrollTop();	/*文档超出窗口的高度*/
				totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
				if(($(document).height()-range) <= totalheight && !isloadall ) {
					var last_id = $(".markerlist-big-wrap li").last().attr("marker-id");
					load_marker_list(last_id);
				}
			});
			$(document).on("click", ".marker-comment-wrap .comment-ops .comment-reply", function () {
				var comment_id = $(this).parents(".marker-comment-wrap").attr("comment-id");
				var username = $(this).parents(".marker-comment-wrap").find(".comment-rwrap .content .username").html();
				$(this).parents(".comment-list-wrap").find(".comment-input .reply-comment-id").val(comment_id);
				$(this).parents(".comment-list-wrap").find(".comment-input textarea").val("@" + username + "  ").focus();
			});
		});
		</script>
		<script type="text/template" id="comment-list-template">
			{{!#.}}
			<li class="marker-comment-wrap" comment-id="{{!id}}">
				<div class="comment-ops {% if not result.get("current_user_id", 0) %} unlogin {% end %}">
					<a class="comment-reply">回复</a>
				</div>
				<div class="avatar-wrap">
					<a href="/user/user?user_id={{!user_id}}"><img class="avatar" src="{{!avatar_url}}" alt="avatar"></a>
				</div>
				<div class="comment-rwrap">
					<p class="content">
					<span class="username">{{!nickname}}</span> :
						{{!#reply_user_info}}<a class="comment-nickname" href="/user/user?user_id={{!reply_user_info.id}}">@{{!reply_user_info.nickname}}</a>{{!/reply_user_info}}
					{{!content}}
					</p>
					<div class="time-ops-wrap">
						<span class="create_time">{{!create_time}}</span>
					</div>
				</div>
			</li>
			{{!/.}}
		</script>
		<script type="text/template" id="marker-list-template">
			{{!#.}}
			<li marker-id="{{!id}}">
				<div class="user_info">
					<img src="{{!avatar_url}}" alt="user_avatar" />
                    <a class="nickname" href="/user/user?user_id={{!user_id}}">{{!nickname}}</a>
				</div>
				<div class="markerlist-rwrap">
					<div class="mark_content">
						<p class="content">{{!marker}}</p>
					</div>
					<div class="ops">
						<span><a class="comment-href">评论(<strong>{{!comment_count}}</strong>)</a></span><span class="create_time">{{!create_time}}</span>
					</div>
					<div class="comment-list-wrap">
						{% if result.get("current_user_id", 0) %}
						<div class="comment-input-wrap">
							<div class="avatar-wrap">
								<img class="avatar" src="{{ result.get("current_user_info", {}).get("avatar_url", "") }}" alt="avatar" />
							</div>
							<div class="comment-input">
								{% raw xsrf_form_html() %}
								<input type="hidden" class="reply-comment-id" />
                                <a class="comment-btn" marker-id={{!id}}>评论</a>
                                <div class="comment-textarea-wrap"><textarea></textarea></div>

							</div>
						</div>
						{% else %}
						<div class="anonym-notice">
							您还没有登录，<a href="/user/login"><strong>登录</strong></a>后才能评论。
						</div>
						{% end %}
						<ul class="ul-comment-list" marker-id={{!id}}>
						</ul>
					</div>
				</div>
			</li>
			{{!/.}}
		</script>
	</body>
</html>
