* {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style-type: none;
}
input,button,select,textarea {
	outline:none;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.nav {
	height: 50px;
	color: white;
	background: black;
	font-size: 20px;
	line-height: 50px;
}
.nav ul {
	font-size: 0px;
}
.nav ul li {
	display: inline-block;
	font-size: 20px;
}
.nav ul li:hover {
	background: #333;
	color: #ccc;
}
.nav ul .active {
	background: #333;
	color: #ccc;
}
.nav ul li a {
	display: block;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	text-decoration: none;
}