* {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style-type: none;
}
.container {
	width: 720px;
	margin: 0 auto;
}
.add-marker-wrap {
	/*margin-top: 10px;*/
}
.user_info {
	vertical-align: middle;
	width: 70px;
	float: left;
	text-align: center;
	position: relative;
}
.markerlist-rwrap {
	overflow: hidden;
	margin-top: 10px;
	/*margin-bottom: 10px;*/
}
.markerlist-big-wrap {
	margin-top: 10px;
	margin-bottom: 30px;
	box-shadow: 0 1px 0 #f2f4f5;
}
.markerlist-big-wrap li {
	border-bottom: 1px dotted #eee;
}
.user_info_mask {
	min-height: 100px;
	width: 100px;
	position: absolute;
	color: rgba(0, 0, 0, 0);
	background-color: rgba(255,255,255,0);
	font-size: 10px;
	line-height:100px;
}
.user_info_mask:hover{
	background-color: rgba(255,255,255,0.9);
	color: rgba(0, 0, 0, 1);
	cursor: pointer;
}
.user_info img {
	width: 50px;
	height: 50px;
	border-radius: 4px;
}
.user_info span {
	font-size: 12px;
	line-height: 20px;
}
.mark_content {
	overflow: hidden;
}
.mark_content .title {
	background: #eee;
	font-size: 14px;
	line-height: 30px;
	text-indent: 10px;
	font-weight: normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: none;
}
.mark_content .content {
	padding: 10px;
	font-size: 13px;
	line-height: 20px;
}
.create_time {
	float: right;
	font-size: 12px;
	margin-right: 10px;
	color: rgb(170, 170, 170);
}
#add_marker {
	overflow: hidden;
}
#add_marker input, #add_marker textarea{
	border: 1px solid rgba(0, 0, 0, 0.3);
}
#add_marker input:focus, #add_marker textarea:focus{
	border: 1px solid rgba(0, 0, 0, 0.7);
}
#add_marker .title {
	line-height: 30px;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
#add_marker .content {
	margin-bottom: 5px;
}
#add_marker .content textarea {
	border-radius: 3px;
	line-height: 20px;
	font-size: 13px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 100px;
}
#add_marker .title, #add_marker textarea {
	display: inline-block;
	/*width: 793px;*/
	/*position: relative;*/
	width: 100%;
	box-sizing: border-box;
}
#btn_add_marker {
	background: orange;
	padding: 5px 10px;
	font-size: 14px;
	float: right;
	cursor: pointer;
	color: white;
	font-weight: bolder;
	border-radius: 3px;
}
.mark_content .content {
	white-space: pre-wrap;
}
.ops {
	padding: 0 10px 0 10px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
}
.ops span {
	font-size: 12px;
	color: rgb(170, 170, 170);
}
.ops .comment-href {
	color: black;
}
.comment-list-wrap {
	display: none;
}
.comment-list-wrap .avatar {
	width: 30px;
	height: 30px;
}
.comment-input-wrap {
	padding: 10px;
}
.avatar-wrap {
	float: left;
	margin-right: 10px;
}
.comment-input {

}
.comment-input textarea {
	line-height: 12px;
	font-size: 12px;
	overflow: hidden;
	border: 1px solid orange;
	vertical-align: middle;
	padding: 5px 2px 0px 6px;
	width: 500px;
}
.comment-btn, .comment-btn:hover, .comment-btn:visited {
	height: 30px;
	width: 60px;
	line-height: 30px;
	background: white;
	display: inline-block;
	vertical-align:	top;
	background: orange;
	color: white;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}
.ul-comment-list li {
	overflow: hidden;
	padding: 10px;
}
.ul-comment-list .time-ops-wrap .create_time {
	float: none;
}
.comment-rwrap {
	font-size: 12px;
	overflow: hidden;
}
.comment-rwrap .content {
	line-height: 20px;
}
.comment-list-wrap .anonym-notice strong {
	color: orange;
}
.anonym-notice {
	color: #ccc;
	font-size: 12px;
	padding: 10px;
}
.load-more-wrap {
	border: 1px solid black;
	height: 40px;
	background: #cccccc;
	line-height: 40px;
	text-align: center;
}
.load-more-wrap .load-more {
	display: block;
}
.marker-comment-wrap {
	position: relative;
}
.marker-comment-wrap .comment-ops {
	visibility: hidden;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 10px;
	font-size: 12px;
	line-height: 20px;
}
.marker-comment-wrap:hover {
	background: rgb(250, 250, 250);
}
.marker-comment-wrap:hover .comment-ops {
	visibility: visible;
}
.comment-nickname {
	color: orange;
}
.comment-nickname:visited {
	color: orange;
}
.christmas-cap {
	position: absolute;
	width: 80px !important;
	height: 80px !important;
	top: -30px;
	left: -15px;
}
.christmas-tree-wrap {
	position: fixed;
	right: 0px;
	width: 200px;
}



.m-me-info {
	height: 600px;
	width: 250px;
	float: left;
	text-align: center;
	border: 1px solid #ccc;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #fff6ed;
	margin-right: 10px;
	box-sizing: border-box;
	margin-left: 10px;
}
.main {
	width: 1000px;
	margin: 0 auto;
}
.index-page-info {
	width: 730px;
	overflow: hidden;
	box-sizing: border-box;
	padding-top: 20px;
}
.m-me-info .avatar img {
	width: 200px;
	height: 200px;
	box-shadow: rgb(204, 204, 204) 5px 5px 15px 0px;
}
.m-me-info .avatar {
	margin-top: 25px;
}
.m-me-info .username {
	margin-top: 15px;
	text-shadow: 0 0 10px #ccc;
}

.add-marker-wrap {
	/*display: none;*/
}
.add-marker-wrap .tips-warning {
	font-size: 12px;
	color: orangered;
	opacity: 0.5;
}
.mine-module {
	border: 1px solid #ccc;
	border-radius: 4px;
	background: white;
}
.mine-module .f-title {
	font-size: 22px;
	vertical-align: middle;
	color: #35b558;
	line-height: 26px;
	margin-top: 10px;
	border-bottom: 1px dotted #eee;
	padding-bottom: 10px;
}
.mine-module .f-title .title-icon {
	height: 30px;
	vertical-align: middle;
	margin-left: 10px;
}