<div class="nav">
	<ul class="nav-list">
		<li>
			<a href="/marker/list">签到</a>
		</li>
		<li>
			<a href="/goal/list">目标</a>
		</li>
		<li>
			<a href="#">代办事项</a>
		</li>
		<li>
			<a href="#">成就</a>
		</li>
	</ul>
	<ul class="user-menu">
		{% if result.get("user_id", 0) %}
		<li>
			<span>{{ result.get("greeting", "") }}</span>
		</li>
		<li>
			<a href="/user/logout">注销</a>
		</li>
		{% else %}
		<li class="login">
			<a href="/user/login">登录</a>
		</li>
		<li class="register">
			<a href="/user/regist">注册</a>
		</li>
		{% end %}
	</ul>
</div>