<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="format-detection" content="telephone=no" />
    <title>目标列表</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/goal_list.css">
</head>
<body>
        {% module nav() %}
    <nav id="goal-nav">
        <ul>
            {% for goal in result.get("goal_list", []) %}
            <li><a goal-id="{{ goal.get("id", 0) }}">{{ goal.get("name", "") }}</a></li>
            {% end %}
        </ul>
        <div><a id="add-goal">增加目标</a></div>
    </nav>
    <section id="goal-list-wrap">
        <ul id="goal-list-ul">
            {% for goal in result.get("goal_list", []) %}
            <li id="goal-{{ goal.get("id", 0) }}" class="goal-wrap" goal-id={{ goal.get("id", 0) }}>
                <div class="ops">
                    <a class="add-todo">增加代办事项</a> ｜ <a class="edit">编辑</a> | <a class="delete">删除</a>
                </div>
                <div class="goal-info">
                    <div class="goal-icon-wrap">
                        <img class="goal-icon" src="{{ goal.get("image", "") }}" alt="goal-icon">
                    </div>
                    <div class="goal-info-rwrap">
                        <div class="goal-name">{{ goal.get("name", "") }}</div>
                        <p class="goal-desc">{{ goal.get("description", "")}}</p>
                    </div>
                </div>
                <ul class="todo-list-ul">
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看《javascript权威指南》</span>
                        <div class="todo-ops"><a class="edit">编辑</a> | <a class="delete">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看《超越CSS》</span>
                        <div class="todo-ops"><a class="edit">编辑</a> | <a class="delete">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">学习React.Js</span>
                        <div class="todo-ops"><a class="edit">编辑</a> | <a class="delete">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看w3cSchool关于HTML5的手册</span>
                        <div class="todo-ops"><a class="edit">编辑</a> | <a class="delete">删除</a></div>
                    </li>
                </ul>
                <div class="add-todo-wrap">
                    <input type="text" class="name-input" placeholder="按Enter键盘完成添加" />
                </div>
            </li>
            {% end %}
        </ul>
    </section>
    <div id="goal-add-modal" class="empty">
        <section id="goal-add-wrap" class="goal-edit-wrap">
            <span>图片</span>
            <div class="album-wrap">
                <img class="album" src="http://image.lanrenzhoumo.com/leo/img/20151011162452_2f06eaa77fef3774de0e4f736bcc310b.jpg" alt="avatar image">
                <input type="file" class="album-file-input" name="album" placeholder="图片">
            </div>
            <span>目标名称</span>
            <div><input class="name-input" type="text" name="name"></div>
            <span>描述</span>
            <div><textarea name="desc" class="desc-input"></textarea></div>
            <div class="ops">
                <button id="goal-add-save-btn">添加</button>
                <button id="goal-add-cancel-btn">取消</button>
            </div>
        </section>
    </div>
    <div id="goal-edit-modal" class="empty">
        <section id="goal-edit-wrap" class="goal-edit-wrap" goal-id="0">
            <span>图片</span>
            <div class="album-wrap">
                <img class="album" src="http://image.lanrenzhoumo.com/leo/img/20151011162452_2f06eaa77fef3774de0e4f736bcc310b.jpg" alt="avatar image">
                <input type="file" class="album-file-input" name="album" placeholder="图片">
            </div>
            <span>目标名称</span>
            <div><input class="name-input" type="text" name="name"></div>
            <span>描述</span>
            <div><textarea name="desc" class="desc-input"></textarea></div>
            <div class="ops">
                <button id="goal-edit-save-btn">保存</button>
                <button id="goal-edit-cancel-btn">取消</button>
            </div>
        </section>
    </div>
    <div id="todo-edit-modal" class="empty">
        <section id="todo-edit-wrap" class="todo-edit-wrap">
            <span>名称</span>
            <div><input class="name-input" type="text" name="name"></div>
            <span>备注信息</span>
            <div><textarea class="note-input"></textarea></div>
            <div class="ops">
                <button id="todo-edit-save-btn">保存</button>
                <button id="todo-edit-cancel-btn">取消</button>
            </div>
        </section>
    </div>
    <div id="_xsrf" class="empty">{% raw xsrf_form_html() %}</div>
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/goal-list.js"></script>
</body>
</html>