<!Doctype html>
<html>
<head lang="en">
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" id="viewport">
    <title>{% block title %}{% end %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login_regist.css">
</head>
<body>
{% block body %}{% end %}
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/md5.min.js"></script>
{% block javascript %}{% end %}
</body>
</html>
