<!Doctype html>
<html>
	<head lang="en">
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
		<title>签到</title>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="/static/css/marker_list.css">
	</head>
	<body>
		<div class="nav">
			<ul>
				<li>
					<a href="/marker/list">签到</a>
				</li>
				<li>
					<a href="#">目标</a>
				</li>
				<li>
					<a href="#">代办事项</a>
				</li>
				<li>
					<a href="#">成就</a>
				</li>
			</ul>
		</div>
		{% if result.get("user_id") %}
		<div class="container">
			<form id="add_marker" method="POST" action="/marker/add">
				{% raw xsrf_form_html() %}
				<div>
					<div class="label"><label>主题</label></div>
					<div class="content">
						<input class="title" type="text" name="title" placeholder="今天的主题" />
					</div>
				</div>
				<div>
					<div class="label"><label>目标</label></div>
					<div class="content">
						<textarea name="marker" placeholder="这里是写你今天要做的事情，爱护互联网环境，请大家不要写一些乱七八糟的东西。现在已经支持换行了!O(^_^)O"></textarea>
					</div>
				</div>
				<input type="submit" id="btn_add_marker" value="签到" />
			</form>
		</div>
		{% else %}
		<div class="container">
			<a href="/marker/add">我也要签到</a>
		</div>
		{% end %}

		<div class="container">
			<ul class="markerlist-big-wrap">
				{% for marker in result.get("marker_list", []) %}
				<li>
					<div class="user_info">
						<img src="{{ marker.get("avatar_url", "http://image.lanrenzhoumo.com/leo/img/20151011163317_07b20ebf75bf2e730f79621d5afd8afd.jpg") }}" alt="user_avatar" /> 
						<div>
							<span>{{ marker.get("nickname", "")}}</span>
						</div>
					</div>
					<div class="markerlist-rwrap">
						<div class="mark_content">
							<h2 class="title">
								{{ marker.get("title", "") }}
							</h2>
							<p class="content">{{ marker.get("marker", "") }}</p>
						</div>
						<div class="ops">
							<span><a class="comment-href">评论(10)</a></span><span class="create_time">{{ marker.get("create_time", "") }}</span>
						</div>
						<div class="comment-list-wrap">
							<div class="comment-input-wrap">
								<div class="avatar-wrap">
									<img class="avatar" src="http://image.lanrenzhoumo.com/leo/img/20151011162452_2f06eaa77fef3774de0e4f736bcc310b.jpg" alt="avatar" />
								</div>
								<div class="comment-input">
									<textarea></textarea>
									<a class="comment-btn">评论</a>
								</div>
							</div>
							<ul class="ul-comment-list">
								<li>
									<div class="avatar-wrap">
										<img class="avatar" src="http://image.lanrenzhoumo.com/leo/img/20151011162452_2f06eaa77fef3774de0e4f736bcc310b.jpg" alt="avatar">
									</div>
									<div class="comment-rwrap">
										<p class="content">
										<span class="username">Mr.Eleven</span> : 
										我好困，再看一会儿推广方面东西就准备回家了，这里节奏太快啦，我有点累，明后天好好出去玩玩。自从来到这里，心情也不大美丽，
										</p>
										<div class="time-ops-wrap">
											<span class="create_time">2015-10-16 20:06:22</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				{% end %}
			</ul>
		</div>
		<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/static/js/mustache.js"></script>
		<script type="text/javascript">
		$(function(){
			$("#add_marker").submit(function(e) {
				var title = $("#add_marker .title").val();
				var content = $("#add_marker textarea").val();
				if (!(title && content)) {
					e.preventDefault();
					var shark = function(){
						var that = this;
						var dif = '5px';
						var duration = 50;
						that.animate({left:dif},duration,function(){
							that.animate({left:'-'+dif},duration,function(){
								that.animate({left:'0px'},duration);
							});
						});
					}
					var $empty;
					if (!title) {
						$empty = $("#add_marker .title");
					}else{
						$empty = $("#add_marker textarea");
					}
					shark.apply($empty.focus());
					return;
				};
			});
			$(".ops .comment-href").on("click", function() {
				var $comment_list = $(this).parents(".markerlist-rwrap").find(".comment-list-wrap");
				if ($comment_list.css("display") == "none") {
					$comment_list.css("display", "block");
				}
				else {
					$comment_list.css("display", "none");
				}
			});
		});
		</script>
	</body>
</html>
