<!Doctype html>
<html>
<head lang="en">
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link href="http://cdn.eleven.name/icon/eleven.ico" type="image/x-icon" rel="shortcut icon" />
    <title>{{ result.get("user_info", {}).get("nickname", "") }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/user.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/recent.css" />
</head>
<body>
    {% module nav() %}
    {% set user_info = result.get("user_info", {}) %}
<div id="cover-wrap" style="background-image: url('http://image.lanrenzhoumo.com/leo/img/20151206182835_85ad688074663df74a4c5ff0a7d4ab55.jpg');"></div>
<section id="user-info-wrap">
    <div class="avatar-wrap">
        <img class="avatar" src="{{ user_info.get('avatar_url') }}" alt="user-avatar">
    </div>
    <div class="user-page-menu-wrap">
        <ul class="user-page-menu clearfix">
            <li><a href="/user/user?user_id={{ result.get("user_id", 0) }}">签到</a></li>
            <li><a href="/user/recent?user_id={{ result.get("user_id", 0) }}">在干啥</a></li>
        </ul>
    </div>
    <div class="user-info-rwrap">
        <div class="nickname">{{ user_info.get("nickname", "")}}</div>
        <!--<p class="motto">为了兰博基尼拼了</p>-->
    </div>
</section>
<div class="container">
    <div class="timeline-wrap clearfix">
        {% set timeline_info = result.get("timeline_info", []) %}
        <ul class="timeline">
            {% for todo_info in timeline_info %}
            <li class="clearfix">
                <div class="time-cycle">{{ todo_info.get("date_str", "") }}</div>
                <ul class="timeline-todo-list-wrap">
                    {% for todo in todo_info.get("todolist") %}
                    <li>{{ todo.get("name", "") }}</li>
                    {% end %}
                </ul>
            </li>
            {% end %}
        </ul>
    </div>
</div>
<div class="hidden" id="global_user_id">{{ result.get("user_id") }}</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
</body>
</html>
