<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="format-detection" content="telephone=no" />
    <title>目标列表</title>
    <link rel="stylesheet" type="text/css" href="/unicorn/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/unicorn/static/css/goal_list.css">
</head>
<body>
    <div class="nav">
        <ul class="nav-list">
            <li>
                <a href="/marker/list">签到</a>
            </li>
            <li>
                <a href="#">目标</a>
            </li>
            <li>
                <a href="#">代办事项</a>
            </li>
            <li>
                <a href="#">成就</a>
            </li>
        </ul>
        <ul class="user-menu">
            <li>
                <span>晚上好，MrEleven</span>
            </li>
            <li>
                <a href="/user/logout">注销</a>
            </li>
        </ul>
    </div>
    <nav id="goal-nav">
        <ul>
            <li><a href="#">资深前端工程师</a></li>
            <li><a href="#">资深IOS工程师</a></li>
            <li><a href="#">资深Python专家</a></li>
            <li><a href="#">资深运帷工程师</a></li>
            <li><a href="#">资深DBA</a></li>
            <li><a href="#">资深产品经理</a></li>
        </ul>
    </nav>
    <section id="goal-list-wrap">
        <ul id="goal-list-ul">
            <li class="goal-wrap">
                <div class="goal-info">
                    <div class="goal-icon-wrap">
                        <img class="goal-icon" src="http://www.gezbox.com/images/jobs/member_frontend.png" alt="goal-icon">
                    </div>
                    <div class="goal-info-rwrap">
                        <div class="goal-name">资深Web前端工程师</div>
                        <p class="goal-desc">
                            一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。
                        </p>
                    </div>
                </div>
                <ul class="todo-list-ul">
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看《javascript权威指南》</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看《超越CSS》</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">学习React.Js</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看w3cSchool关于HTML5的手册</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                </ul>
            </li>



            <li class="goal-wrap">
                <div class="goal-info">
                    <div class="goal-icon-wrap">
                        <img class="goal-icon" src="http://www.gezbox.com/images/jobs/member_frontend.png" alt="goal-icon">
                    </div>
                    <div class="goal-info-rwrap">
                        <div class="goal-name">资深Web前端工程师</div>
                        <p class="goal-desc">
                            一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。
                        </p>
                    </div>
                </div>
                <ul class="todo-list-ul">
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看《javascript权威指南》</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看《超越CSS》</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">学习React.Js</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看w3cSchool关于HTML5的手册</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                </ul>
            </li>




            <li class="goal-wrap">
                <div class="goal-info">
                    <div class="goal-icon-wrap">
                        <img class="goal-icon" src="http://www.gezbox.com/images/jobs/member_frontend.png" alt="goal-icon">
                    </div>
                    <div class="goal-info-rwrap">
                        <div class="goal-name">资深Web前端工程师</div>
                        <p class="goal-desc">
                            一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。一定要成为牛逼的web前端工程师，跟饺子一样帅。超越可可和乌龙。
                        </p>
                    </div>
                </div>
                <ul class="todo-list-ul">
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看《javascript权威指南》</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看《超越CSS》</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">学习React.Js</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                    <li class="todo-wrap">
                        <div class="finish"></div><span class="todo-name">看w3cSchool关于HTML5的手册</span>
                        <div class="todo-ops"><a href="#">编辑</a> | <a href="#">删除</a></div>
                    </li>
                </ul>
            </li>


        </ul>
    </section>
    <section id="todo-edit-wrap">

    </section>
</body>
</html>