<div class="nav">
	<ul class="nav-list">
		<li>
			<a href="/marker/list"><i class="icon icon-marker"></i><span>签到</span></a>
		</li>
		<li>
			<a href="/goal/list"><i class="icon icon-goal"></i><span>目标</span></a>
		</li>
	</ul>
	<ul class="user-menu">
		{% if result.get("user_id", 0) %}
		<li class="greeting">
			<span>{{ result.get("greeting", "") }}</span>
		</li>
		<li>
			<div id="nav-message-wrap" class="drop-parent">
				<div id="message-icon" class='{% if result.get("message_count") != 0 %}has-message{% end %}'></div>
				<ul id="message-dropdown" class="nav-dropdown">
				</ul>
			</div>
		</li>
		<li>
			<div id="nav-userinfo-wrap" class="drop-parent">
				<div><a href="http://www.eleven.name"><img class="avatar" src="{{result.get('user_info', {}).get('avatar_url', '')}}" alt="avatar" /></a></div>
				<ul>
					<li><a href="##">个人中心</a></li>
					<li><a href="##">设置</a></li>
					<li class="dropdown-divider"></li>
					<li><a href="/user/logout">注销</a></li>
				</ul>
			</div>
		</li>
		{% else %}
		<li class="login">
			<a href="/user/login">登录</a>
		</li>
		<li class="register">
			<a href="/user/regist">注册</a>
		</li>
		{% end %}
	</ul>
	{% module broadcast() %}
</div>